---
parent: feed
---
{{#> layout}}
  {{#*inline "title"}}{{item.title}}{{/inline}}
  {{#*inline "meta"}}
    <link rel="stylesheet" type="text/css" href="/assets/{{asset 'mapping.css'}}">
    <meta property="og:url" content="{{request.uri}}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{item.title}} - Dialog">
    <meta property="og:description" content="{{text item.content}}">
    {{#with item.images.0}}
      <meta property="og:image" content="{{request.uri.base}}/image/{{item.slug}}/preview-{{.}}.jpg">
    {{/with}}
  {{/inline}}
  {{#*inline "main"}}
    <h1 class="title">Dialog - {{item.title}}</h1>

    <section>
      <div class="meta">
        {{date item.date format="d.m.Y"}} @
        <ul class="locations" role="list">
          {{#each item.locations}}
            <li><a title="@{{lat}},{{lon}}" href="{{link}}">{{name}}</a></li>
          {{/each}}
        </ul>
        {{count item.views '' '(Eine Ansicht)' '(# Ansichten)'}}
      </div>

      <div id="map" tabindex="1">
        <div class="popup"></div>
      </div>

      <div class="content">
        {{& item.content}}
      </div>

      {{> partials/images in=item style='all'}}
    </section>

    {{> partials/lightbox}}
  {{/inline}}
  {{#*inline "scripts"}}
    <script src="/assets/{{asset 'mapping.js'}}" defer></script>
    <script type="module">
      {{&use 'lightbox'}}
      new Lightbox().attach(document.querySelectorAll('[data-lightbox]'), document.querySelector('#lightbox'));
    </script>
    <script type="module">
      {{&use 'mapping'}}
      const mapping = new Mapping();

      {{#each item.locations}}
        {{#with (wrap item.images @index)}}
          mapping.mark(null, {{lon}}, {{lat}}, `{{name}}`, '/image/{{item.slug}}/thumb-{{name}}.webp');
        {{/with}}
      {{/each}}

      mapping.project(document.querySelector('#map'));

      // Update statistics
      {{&use 'statistics'}}
      const statistics = new Statistics();
      statistics.add('{{item.slug}}', '{{sign item.slug}}', Math.min({{size item.images}} * 1500, 5000));
      statistics.schedule('{{item.slug}}');
    </script>
  {{/inline}}
{{/layout}}