---
parent: feed
---
{{#> layout}}
  {{#*inline "title"}}{{item.title}}{{/inline}}
  {{#*inline "meta"}}
    <meta property="og:url" content="{{request.uri}}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{item.title}} - Dialog">
    <meta property="og:description" content="{{text item.content}}">
    {{#with item.images.0}}
      <meta property="og:image" content="{{request.uri.base}}/image/{{item.slug}}/preview-{{.}}.jpg">
    {{/with}}
  {{/inline}}
  {{#*inline "main"}}
    <h1 class="title">Dialog - {{item.title}}</h1>

    <section>
      <div class="meta">
        {{date item.date format="d.m.Y"}} @
        <ul class="locations" role="list">
          {{#each item.locations}}
            <li><a title="@{{lat}},{{lon}}" href="{{link}}">{{name}}</a></li>
          {{/each}}
        </ul>
      </div>

      <div id="map">
        <div class="popup"></div>
      </div>

      <div class="content">
        {{& item.content}}
      </div>

      {{> partials/images in=item style='all'}}
    </section>
  {{/inline}}
  {{#*inline "scripts"}}
    <script type="module">
      {{&use 'mapping'}}
      const mapping = new Mapping('/static/marker.png');

      {{#each item.locations}}
        mapping.mark(null, {{lon}}, {{lat}}, `{{name}}`);
      {{/each}}

      mapping.project(document.querySelector('#map'));
    </script>
  {{/inline}}
{{/layout}}