{{#> layout}}
  {{#*inline "title"}}Seite {{page}}{{/inline}}
  {{#*inline "meta"}}
    <meta property="og:url" content="{{request.uri}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Seite {{page}} - Dialog">
    <meta property="og:description" content="Fotoblog von Timm Friebe">
    {{#with elements.0}}
      {{#with images.0}}
        <meta property="og:image" content="{{request.uri.base}}/image/{{slug}}/preview-{{.}}.jpg">
      {{/with}}
    {{/with}}
  {{/inline}}
  {{#*inline "main"}}
    <h1 class="title">Dialog - Seite {{page}}</h1>

    <div class="pagination">
      <a class="previous" href={{#if previous}}"/feed?page={{previous}}"{{else}}"#" aria-disabled="true"{{/if}}>Neuere</a>
      <a class="next" href={{#if next}}"/feed?page={{next}}"{{else}}"#" aria-disabled="true"{{/if}}>Ältere</a>
    </div>

    {{#with elements}}
      {{#each .}}
        <section>
          <h2>
            {{#with parent}}
              <span class="journey" title="Reise, {{range is.from is.until format="M Y"}}">
                <a href="{{route this}}">{{title}}</a>
              </span>
            {{/with}}
            <a href="{{route this}}">{{title}}</a>
          </h2>

          <div class="meta">
            {{date ./date format="d.m.Y"}} @
            <ul class="locations" role="list">
              {{#each locations}}
                <li><a title="@{{lat}},{{lon}}" href="{{link}}">{{name}}</a></li>
              {{/each}}
            </ul>
            {{count views '' '(Eine Ansicht)' '(# Ansichten)'}}
            {{> partials/weather in=.}}
          </div>

          <a class="images is-preview" href="{{route this}}">
            {{#with images.0}}
              <div class="image">
                <img alt="{{title}}, {{date meta.dateTime format='d.m.Y H:i'}}" {{#unless @first}}loading="lazy"{{/unless}} {{&dataset meta}} src="/image/{{slug}}/thumb-{{name}}.webp" width="1024">
              </div>
            {{/with}}
            <div class="more">
              {{#each images}}
                {{#unless (equals @index 0)}}
                  <img alt="{{title}}, {{date meta.dateTime format='d.m.Y H:i'}}" {{#unless ../@first}}loading="lazy"{{/unless}} style="z-index: -{{@index}}" src="/image/{{slug}}/thumb-{{name}}.webp" width="192">
                {{/unless}}
              {{/each}}
            </div>
          </a>

          <div class="content">
            {{& content}}
          </div>
        </section>
      {{/each}}
    {{else}}
      <section class="empty">
        <h2>Noch keine Inhalte</h2>
        <p>(Coming soon)</p>
      </section>
    {{/with}}

    <div class="pagination">
      <a class="previous" href={{#if previous}}"/feed?page={{previous}}"{{else}}"#" aria-disabled="true"{{/if}}>Neuere</a>
      <a class="next" href={{#if next}}"/feed?page={{next}}"{{else}}"#" aria-disabled="true"{{/if}}>Ältere</a>
    </div>
  {{/inline}}
  {{#*inline "scripts"}}
  {{/inline}}
{{/layout}}