{{#> layout}}
  {{#*inline "title"}}Home{{/inline}}
  {{#*inline "meta"}}
    <meta property="og:url" content="{{request.uri}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home - Dialog">
    <meta property="og:description" content="Fotoblog von Timm Friebe">
    {{#with cover}}
      <meta property="og:image" content="{{request.uri.base}}/image/{{slug}}/preview-{{preview.name}}.jpg">
      <link rel="preload" href="/image/{{slug}}/full-{{preview.name}}.webp" as="image">
    {{/with}}
  {{/inline}}
  {{#*inline "main"}}

    <!-- About me -->
    {{#with cover}}
      <div class="cover" style="background-image: url(/image/{{slug}}/full-{{preview.name}}.webp)">
        <h1>{{title}}</h1>
      </div>
      <article class="intro">
        {{&content}}
      </article>
    {{/with}}

    <search>
      {{> partials/search}}
    </search>

    <!-- Newest content -->
    <h2 class="news">Neueste Inhalte</h2>
    {{> partials/cards in=newest continue='/feed?page=2'}}

    &#187; <a href="/feed">Alle Inhalte im Feed</a>
  {{/inline}}
  {{#*inline "scripts"}}
    <script type="module">
      {{&use 'suggestions'}}
      new Suggestions('/api/suggestions?q=%s')
        .default('/search?q=%s', 'Volltextsuche nach "%s"')
        .attach(document.querySelector('#search'))
      ;
    </script>
  {{/inline}}
{{/layout}}