{{#> layout}}
  {{#*inline "title"}}Home{{/inline}}
  {{#*inline "meta"}}
    <meta property="og:url" content="{{request.uri}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home - Dialog">
    <meta property="og:description" content="Fotoblog von Timm Friebe">
    {{#with elements.0}}
      {{#with cover.images.0}}
        <meta property="og:image" content="{{request.uri.base}}/image/{{cover.slug}}/preview-{{.}}.jpg">
      {{/with}}
    {{/with}}
  {{/inline}}
  {{#*inline "main"}}

    <!-- About me -->
    {{#with cover}}
      <div class="cover" style="background-image: url(/image/{{slug}}/full-{{#with images.0}}{{.}}{{/with}}.webp)">
        <h1>{{title}}</h1>
      </div>
      <article class="intro">
        {{&content}}
      </article>
    {{/with}}

    <!-- Newest content -->
    <h2 class="news">Neueste Inhalte</h2>
    <div class="cards">
      {{#each newest}}
        {{#if @last}}
          <div class="continue card">
            <a title="Seite 2" href="/feed?page=2">
              {{#with images.0}}<img alt="Bild vom {{meta.dateTime}}" src="/image/{{slug}}/thumb-{{.}}.webp">{{/with}}
              <div class="next">&#187;</div>
            </a>
          </div>
        {{else}}
          <div class="card">
            <div class="date">{{../date date format='d.m.Y'}}</div>
            <a title="{{title}}"
              {{#if is.content}}
                href="/content/{{slug}}"
              {{else if is.journey}}
                href="/journey/{{slug}}"
              {{/if}}
            >
              {{#with images.0}}<img alt="Bild vom {{meta.dateTime}}" src="/image/{{slug}}/thumb-{{.}}.webp">{{/with}}
              <h3>{{title}}</h3>
            </a>
          </div>
        {{/if}}
      {{/each}}
    </div>
    &#187; <a href="/feed">Alle Inhalte im Feed</a>
  {{/inline}}
  {{#*inline "scripts"}}
  {{/inline}}
{{/layout}}