---
parent: feed
---
{{#> layout}}
  {{#*inline "title"}}{{journey.title}}{{/inline}}
  {{#*inline "meta"}}
    <meta property="og:url" content="{{request.uri}}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{journey.title}} - Dialog">
    <meta property="og:description" content="{{text journey.content}}">
    {{#with journey.images.0}}
      <meta property="og:image" content="{{request.uri.base}}/image/{{journey.slug}}/preview-{{.}}.jpg">
    {{/with}}
  {{/inline}}
  {{#*inline "main"}}
    <h1 class="title">Dialog - {{journey.title}}</h1>

    <!-- The journey itself -->
    <section id="summary">
      <div class="meta">
        {{date journey.is.from format="d.m.Y"}} - {{date journey.is.until format="d.m.Y"}} @
        <ul class="locations" role="list">
          {{#each journey.locations}}
            <li><a title="@{{lat}},{{lon}}" href="{{link}}">{{name}}</a></li>
          {{/each}}
        </ul>
        {{count journey.views '' '(Eine Ansicht)' ' (# Ansichten)'}}
      </div>
      {{> partials/images in=journey first='true' style='overview'}}

      <div id="map">
        <div class="popup"></div>
      </div>

      <div class="content">
        {{& journey.content}}
      </div>

      <ul class="summary">
        {{#each itinerary}}
          <li>
            <a href="#{{scroll slug}}">{{title}}</a>
            <span class="date">{{date ./date format="d.m.Y"}}</span>
          </li>
        {{/each}}
      </ul>
    </section>

    <!-- The itinerary items -->
    {{#with itinerary}}
      {{#each .}}
        <section id="{{scroll slug}}">
          <h2>
            <a class="scroll" href="#{{scroll slug}}">{{title}}</a>
            <a title="Nach oben" class="top" href="#">&#8593;</a>
          </h2>

          <div class="meta">
            {{date ./date format="d.m.Y"}} @
            <ul class="locations" role="list">
              {{#each locations}}
                <li><a href="{{link}}">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
          {{> partials/images in=.}}

          <div class="content">
            {{& content}}
          </div>
        </section>
      {{/each}}
    {{else}}
      <section class="empty">
        <h2>Noch keine Inhalte</h2>
        <p>(Coming soon)</p>
      </section>
    {{/with}}
  {{/inline}}
  {{#*inline "scripts"}}
    <script type="module">
      {{&use 'mapping'}}
      const mapping = new Mapping('/static/marker.png');

      {{#each itinerary}}
        {{#each locations}}
          mapping.mark('#{{scroll slug}}', {{lon}}, {{lat}}, `{{title}}: {{name}}`);
        {{/each}}
      {{/each}}

      mapping.project(document.querySelector('#map'));

      // Update statistics
      window.setTimeout(() => {
        fetch('/api/statistics/{{journey.slug}}', {method: 'POST', body: '{{sign journey.slug}}'});
      }, 10000);
    </script>
  {{/inline}}
{{/layout}}