{{#> layout}}
  {{#*inline "title"}}{{journey.title}}{{/inline}}
  {{#*inline "meta"}}
    <meta property="og:url" content="{{request.uri}}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{journey.title}} - Dialog">
    <meta property="og:description" content="{{text journey.content}}">
    {{#with journey.images.0}}
      <meta property="og:image" content="{{request.uri.base}}/image/{{journey.slug}}/preview-{{.}}.jpg">
    {{/with}}
  {{/inline}}
  {{#*inline "main"}}
    <h1 class="title">Dialog - {{journey.title}}</h1>

    <!-- The journey itself -->
    <section id="summary">
      <div class="meta">
        {{date journey.is.from format="d.m.Y"}} - {{date journey.is.until format="d.m.Y"}} @
        <ul class="locations" role="list">
          {{#each journey.locations}}
            <li><a title="@{{lat}},{{lon}}" href="{{link}}">{{name}}</a></li>
          {{/each}}
        </ul>
      </div>
      {{> partials/images in=journey first='true' style='overview'}}

      <div id="map">
        <div class="popup"></div>
      </div>

      <div class="content">
        {{& journey.content}}
      </div>

      <ul class="summary">
        {{#each itinerary}}
          <li><a href="#{{scroll slug}}">{{title}}</a></li>
        {{/each}}
      </ul>
    </section>

    <!-- The itinerary items -->
    {{#with itinerary}}
      {{#each .}}
        <section id="{{scroll slug}}">
          <h2><a class="scroll" href="#{{scroll slug}}">{{title}}</a></h2>

          <div class="meta">
            {{../date date format="d.m.Y"}} @
            <ul class="locations" role="list">
              {{#each locations}}
                <li><a href="{{link}}">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
          {{> partials/images in=.}}

          <div class="content">
            {{& content}}
          </div>
        </section>
      {{/each}}
    {{else}}
      <section class="empty">
        <h2>Noch keine Inhalte</h2>
        <p>(Coming soon)</p>
      </section>
    {{/with}}
  {{/inline}}
  {{#*inline "scripts"}}
    <script type="module">
      const markers = {
        style : new ol.style.Style({image: new ol.style.Icon(({src: '/static/marker.png'}))}),
        list  : [],
        add   : function(slug, lon, lat, name) {
          const marker = new ol.Feature({
            geometry : new ol.geom.Point(ol.proj.fromLonLat([lon, lat])),
            slug     : slug,
            name     : name
          });
          marker.setStyle(markers.style);
          markers.list.push(marker);
        }
      };

      {{#each itinerary}}
        {{#each locations}}
          markers.add('{{scroll slug}}', {{lon}}, {{lat}}, `{{title}}`);
        {{/each}}
      {{/each}}

      const source = new ol.source.Vector({features: markers.list});
      const map = new ol.Map({
        target: 'map',
        layers: [new ol.layer.Tile({source: new ol.source.OSM()})]
      });
      map.addLayer(new ol.layer.Vector({source: source}));
      map.getView().fit(source.getExtent(), {padding: [32, 32, 32, 32], minResolution: 30});

      const $popup = document.querySelector('#map .popup');
      map.on('movestart', event => {
        $popup.style.display = 'none';
      });
      map.on('click', event => {
        $popup.style.display = 'none';
        const items = [];
        map.forEachFeatureAtPixel(event.pixel, feature => {
          items.push(`<li><a href="#${feature.get('slug')}">${feature.get('name')}</a></li>`);
        })
        if (0 === items.length) return;

        $popup.innerHTML = '<ul>' + items.join('') + '</ul>';
        $popup.style.left = event.pixel[0] + 'px';
        $popup.style.top = event.pixel[1] + 'px';
        $popup.style.display = 'block';
      });
    </script>
  {{/inline}}
{{/layout}}