{{#> layout}}
  {{#*inline "title"}}Reisen{{/inline}}
  {{#*inline "meta"}}
    <link rel="stylesheet" type="text/css" href="/assets/{{asset 'mapping.css'}}">
    <meta property="og:url" content="{{request.uri}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Reisen - Dialog">
    <meta property="og:description" content="Fotoblog von Timm Friebe">
    {{#with journeys.0}}
      <meta property="og:image" content="{{request.uri.base}}/image/{{slug}}/preview-{{images.0.name}}.jpg">
    {{/with}}
  {{/inline}}
  {{#*inline "main"}}
    <div id="map" class="full" tabindex="1">
      <div class="popup"></div>
    </div>

    <h2 class="news">Nach Datum</h2>
    <div class="cards">
      {{#each journeys}}
        <div class="card">
          <div class="{{range-rel is.from is.until}} context">{{range is.from is.until format="M Y"}}</div>
          <a title="{{title}}" href="{{route this}}">
            {{#with preview}}<img alt="{{title}}, {{date meta.dateTime format='d.m.Y H:i'}}" {{#unless (top 3 @index)}}loading="lazy"{{/unless}} src="/image/{{slug}}/thumb-{{name}}.webp">{{else}}<div class="without-preview"></div>{{/with}}
            <h3>{{title}}</h3>
          </a>
        </div>
      {{/each}}
    </div>
  {{/inline}}
  {{#*inline "scripts"}}
    <script src="/assets/{{asset 'mapping.js'}}" defer></script>
    <script type="module">
      {{&use 'mapping'}}
      const mapping = new Mapping();

      {{#each journeys}}
        {{#each locations}}
          mapping.mark('/journey/{{slug}}', {{lon}}, {{lat}}, `{{title}}: {{name}}`, '{{range-rel is.from is.until}}',
            {{#with (wrap images @index)}}
              '/image/{{slug}}/thumb-{{name}}.webp'
            {{else}}
              '/image/{{preview.slug}}/thumb-{{preview.name}}.webp'
            {{/with}}
          );
        {{/each}}
      {{/each}}

      mapping.project(document.querySelector('#map'), false);
    </script>
  {{/inline}}
{{/layout}}