{{#> layout}}
  {{#*inline "title"}}Reisen{{/inline}}
  {{#*inline "meta"}}
    <meta property="og:url" content="{{request.uri}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Reisen - Dialog">
    <meta property="og:description" content="Fotoblog von Timm Friebe">
    {{#with journeys.0}}
      <meta property="og:image" content="{{request.uri.base}}/image/{{slug}}/preview-{{images.0.name}}.jpg">
    {{/with}}
  {{/inline}}
  {{#*inline "main"}}
    <div id="map" class="full">
      <div class="popup"></div>
    </div>

    <h2 class="news">Nach Datum</h2>
    <div class="cards">
      {{#each journeys}}
        <div class="card">
          <div class="date">{{range is.from is.until format="M Y"}}</div>
          <a title="{{title}}" href="/journey/{{slug}}">
            {{#with images.0}}<img alt="{{title}}, {{date meta.dateTime format='d.m.Y H:i'}}" src="/image/{{slug}}/thumb-{{.}}.webp">{{/with}}
            <h3>{{title}}</h3>
          </a>
        </div>
      {{/each}}
    </div>
  {{/inline}}
  {{#*inline "scripts"}}
    <script type="module">
      {{&use 'mapping'}}

      {{#each journeys}}
        {{#each locations}}
          markers.add('/journey/{{slug}}', {{lon}}, {{lat}}, `{{title}}: {{name}}`);
        {{/each}}
      {{/each}}

      markers.project(document.querySelector('#map'));
    </script>
  {{/inline}}
{{/layout}}