---
parent: feed
---
{{#> layout}}
  {{#*inline "title"}}{{journey.title}}{{/inline}}
  {{#*inline "meta"}}
    <link rel="stylesheet" type="text/css" href="/assets/{{asset 'mapping.css'}}">
    <meta property="og:url" content="{{request.uri}}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{journey.title}} - Dialog">
    <meta property="og:description" content="{{text journey.content}}">
    {{#with journey.images.0}}
      <meta property="og:image" content="{{request.uri.base}}/image/{{journey.slug}}/preview-{{.}}.jpg">
    {{/with}}
  {{/inline}}
  {{#*inline "main"}}
    <h1 class="{{range-rel journey.is.from journey.is.until}} title">Dialog - {{journey.title}}</h1>

    <!-- The journey itself -->
    <section id="summary">
      <div class="meta">
        {{date journey.is.from format="d.m.Y"}} - {{date journey.is.until format="d.m.Y"}} @
        <ul class="locations" role="list">
          {{#each journey.locations}}
            <li><a title="@{{lat}},{{lon}}" href="{{link}}">{{name}}</a></li>
          {{/each}}
        </ul>
        {{count journey.views '' '(Eine Ansicht)' '(# Ansichten)'}}
      </div>
      {{> partials/images in=journey first='true' style='overview'}}

      <div id="map">
        <div class="popup"></div>
      </div>

      <div class="content">{{& journey.content}}</div>

      <ul class="summary">
        {{#each itinerary}}
          <li>
            <a href="#{{scroll slug}}">{{title}}</a>
            <span class="date">{{date ./date format="d.m.Y"}}</span>
          </li>
        {{/each}}
      </ul>
    </section>

    <!-- The itinerary items -->
    {{#with itinerary}}
      {{#each .}}
        <section id="{{scroll slug}}">
          <h2 class="scroll">
            <a class="scroll" href="#{{scroll slug}}">{{title}}</a>
            <a title="Nach oben" class="top" href="#">&#8593;</a>
          </h2>

          <div class="meta">
            {{date ./date format="d.m.Y"}} @
            <ul class="locations" role="list">
              {{#each locations}}
                <li><a href="{{link}}">{{name}}</a></li>
              {{/each}}
            </ul>
            {{count views '' '(Eine Ansicht)' '(# Ansichten)'}}
            {{> partials/weather in=.}}
          </div>

          <div class="content">{{& content}}</div>

          {{> partials/images in=.}}
        </section>
      {{/each}}
    {{else}}
      <section class="empty">
        <h2>Noch keine Inhalte</h2>
        <p>(Coming soon)</p>
      </section>
    {{/with}}

    {{> partials/lightbox}}
  {{/inline}}
  {{#*inline "scripts"}}
    <script src="/assets/{{asset 'mapping.js'}}" defer></script>
    <script type="module">
      {{&use 'lightbox'}}
      new Lightbox().attach(document.querySelectorAll('[data-lightbox]'), document.querySelector('#lightbox'));
    </script>
    <script type="module">
      {{&use 'mapping'}}
      const mapping = new Mapping();

      {{#each itinerary}}
        {{#each locations}}
          {{#with (wrap images @index)}}
            mapping.mark('#{{scroll slug}}', {{lon}}, {{lat}}, `{{title}}: {{../name}}`, null, '/image/{{slug}}/thumb-{{name}}.webp');
          {{/with}}
        {{/each}}
      {{/each}}

      mapping.project(document.querySelector('#map'), true);

      // To determine which entries the user has spent time viewing, use intersection observer
      {{&use 'statistics'}}
      const statistics = new Statistics();
      const observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            const id = '{{journey.slug}}' + (entry.target.id ? '/' + entry.target.id : '');
            if (entry.isIntersecting) {
              statistics.schedule(id);
            } else {
              statistics.withdraw(id);
            }
          }
        },
        { threshold: 0.2 }
      );
      {{#each itinerary}}
        observer.observe(document.querySelector('#{{scroll slug}}'));
        statistics.add('{{slug}}', '{{sign slug}}', Math.min({{size images}} * 500, 2000));
      {{/each}}

      // If a child element is navigated to, observe whether the user scrolls to the page top
      if (document.location.hash) {
        statistics.add('{{journey.slug}}', '{{sign journey.slug}}', 500)
        observer.observe(document.querySelector('h1'));
      } else {
        statistics.schedule(statistics.add('{{journey.slug}}', '{{sign journey.slug}}', 10000));
      }
    </script>
  {{/inline}}
{{/layout}}