<div class="images {{style}} is-{{size-class (size in.images)}}">
  {{#each in.images}}
    <div class="image">
      {{#if is.video}}
        <video controls playsinline preload="metadata" width="100%" poster="/image/{{in.slug}}/thumb-{{name}}.webp">
          <source src="/image/{{in.slug}}/video-{{name}}.mp4" type="video/mp4">
        </video>
      {{else}}
        <a href="/image/{{in.slug}}/full-{{name}}.webp" data-lightbox>
          <img alt="{{title}}, {{date meta.dateTime format='d.m.Y H:i'}}" {{#unless first}}loading="lazy"{{/unless}} {{&dataset meta}} src="/image/{{in.slug}}/thumb-{{name}}.webp" width="1024">
        </a>
      {{/if}}
    </div>
  {{/each}}
</div>
