<div class="images {{style}} is-{{size-class (size in.images)}}">
  {{#each in.images}}
    <div class="image">
      {{#if is.video}}
        <video data-lightbox controls playsinline preload="metadata" width="100%" poster="/image/{{in.slug}}/thumb-{{name}}.webp" {{&dataset meta}}>
          <source src="/image/{{in.slug}}/video-{{name}}.mp4" type="video/mp4">
        </video>
      {{else}}
        <img data-lightbox alt="{{in.title}}, {{date meta.dateTime format='d.m.Y H:i'}}" {{#unless first}}loading="lazy"{{/unless}} src="/image/{{in.slug}}/thumb-{{name}}.webp" width="1024" {{&dataset meta}} data-full="/image/{{in.slug}}/full-{{name}}.webp">
      {{/if}}
    </div>
  {{/each}}
</div>
