<div class="images {{style}} size-{{size in.images}}">
  {{#each in.images}}
    <div class="image">
      {{#if is.video}}
        <video controls preload="metadata" width="100%" poster="/image/{{in.slug}}/thumb-{{name}}.webp">
          <source src="/image/{{in.slug}}/video-{{name}}.mp4" type="video/mp4">
        </video>
      {{else}}
        <a href="/image/{{in.slug}}/full-{{name}}.webp" data-lightbox>
          <img alt="{{title}}, {{date meta.dateTime format='d.m.Y H:i'}}" {{#unless first}}loading="lazy"{{/unless}} {{#each meta}}{{#unless (equals @key 'palette')}}data-{{@key}}="{{.}}"{{/unless}}{{/each}} src="/image/{{in.slug}}/thumb-{{name}}.webp" width="1024">
        </a>
      {{/if}}

      <div class="palette">
        {{#each meta.palette}}
          <a href="/search?q=({{h}},{{s}},{{l}})" style="background-color: hsl({{h}} {{s}}% {{l}}%)"> </a>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>
